<% if signed_in? %>
  <div class="row">
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section> 
    </aside>

    <div class="span8">
      <div class="row">
        <aside class="span4">
          <%= button_to "Words", '#', :method => :get, class: "btn btn-large btn-primary" %>     
        </aside>
        <aside class="span4">
          <%= button_to "Lesson", '#', :method => :get,class: "btn btn-large btn-primary" %>     
        </aside>
      </div>
      <section>
        <h3>Activities</h3>
      </section>
      <section>
        <%= render 'shared/activities' %>
      </section>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the our page</h1>

    <h2 style="color:#069">This is the home page for the Framgia E-Learning System</h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
