<% provide(:title, 'Create a new word') %>
<h1>Create a new word</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for [:admin, @word] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :word %>
      <%= f.text_field :word %>

      <%= f.label :meaning %>
      <%= f.text_field :meaning %>

      <%= f.label :category %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: "Select please") %>

      <%= f.submit "Create word", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>